<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/htmx.org@2.0.4"
    integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/index.css">
  <title>MovieDb</title>
</head>

  <body>
    <header>
      <nav id="nav-bar">
        <img id="logo" class="logo" src="image.jpg">
        <div id="menu">menu?</div>
        <input
          type="text"
          name="query"
          id="name"
          placeholder="Search"
          hx-get="/tmdb/search"
          hx-trigger="keyup changed delay:300ms"
          hx-target="#results"
          hx-swap="innerHTML"
          hx-indicator="#loading"
          autocomplete="off"/>

        <div
          id="login"
          href="/tmdb/auth"
          style="cursor:pointer;"
          onclick="window.location.href='/tmdb/auth'"
        >Login</div>

      </nav>
    </header>

    <main>

      <div id="results"></div>

      <div id="trending-container">
        <div
          id="trending-all"
          hx-get="/tmdb/trending"
          hx-target="#container"
          hx-trigger="click, load"
        >All Trending</div>

        <div
          id="trending-tv"
          hx-get="/tmdb/trending_tv_show"
          hx-target="#container"
          hx-trigger="click"
        >Trending tv shows</div>

        <div
          id="trending-movie"
          hx-get="/tmdb/trending_movie"
          hx-target="#container"
          hx-trigger="click"
        >Trending movies</div>
      </div>

      <div id="container"></div>

    </main>

    <footer>
      <p>Congratulations you reached the bottm ^^</p>
    </footer>
  </body>
</html>
