<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/htmx.org@2.0.4"
    integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
    crossorigin="anonymous"></script>
  <title>MovieDb</title>
</head>

  <body>
    <header>
      <nav id="nav-bar">
        <img id="logo" src="image.jpg" width=120 height=90>
        <div id="menu">menu?</div>
        <label for="search"></label>
        <input type="text" name="search" id="name" placeholder="Search">
        <label for="search-btn"></label>
        <input type="submit" name="search-btn" id="search-btn">
      </nav>
    </header>

    <main>
      <div>Movies</div>
    </main>

    <footer>
      <p>something</p>
    </footer>
  </body>

</html>
